<!DOCTYPE html>
<html>
<head>
    <meta charset="gbk" />
    <title>sys.irecom</title>
    <link href="/fdevlib/static/css/merge.css" rel="stylesheet"/>
    <script src="/fdevlib/static/js/merge-fdev3.js"></script>
</head>
<body>
	<style>
		.g-detail a:link,.g-detail a:visited{color:blue;}
		.g-detail a:active,.g-detail a:hover{color:#ff7300;}
	</style>
    <div class="g-memo">
        <h2>
            irecom: 个性化推荐 组件</h2>
        <h3>
            更新日志</h3>
        <ul class="update-histroy">
            <li>2011.11.10 发布1.0 Beta版 Fdev4版本入库</li>
			<li>2011.11.15 发布1.1 Beta2版 Fdev4版本参数打点方式调整</li>
			<li>2011.11.17 发布1.2 正式版 调整几个静态方法</li>
        </ul>
    </div>
    <div class="g-detail">
        <h3>Fdev4版本使用说明</h3>
        irecom个性化推荐接口，是由行业线和算法研发部合作开发的推荐接口，满足个性化匹配展示的需求，基于原来的fly组件做改造。
        <p><strong>注意：</strong>目前只有fdev-v4版本的个性化推荐接口</p>
		<h3>JS依赖</h3>
        <pre class="brush:js">
ImportJavscript.url("http://style.china.alibaba.com/fdevlib/js/fdev-v4/core/fdev-min.js");
ImportJavscript.url("http://style.china.alibaba.com/sys/js/fly/irecom-min.js");
        </pre>
        <h3>调用步骤</h3>
        <h4>1、需要的html结构，仅一个空容器：</h4>
        <pre class="brush:html">
<div id="irecom-demo"></div>
        </pre>
		<h4>2、调用方式：</h4>
		<p>注意顺序，建议在<b>DOMReady之后</b>调用，因为组件依赖的某些值（如pageid）需要在beacon.js等后面才能取到</p>
        <pre class="brush:js">
/*
 * @param {HTML element} or {selector string}  or {jquery element} container：个性化推荐展示的目标容器
 * @param {Object} param：返回个性化数据需要传递的配置值，需求文档中会说明需要客户端传入的值说明
 * @param {Object} config：个性化推荐组件展示中的一些行为配置
 */		
FE.sys.irecom(container,param,config);
        </pre>
		
		<p><b>注意：</b></p>
		<p><b>param</b>中的值和取数据有关，用来取得个性化展示数据，<b>config</b>则和组件展示形式及后续打点相关。</p>
		<h4>3、html模板渲染</h4>
		<p>个性化推荐，根据param值，从个性化推荐服务器中取得个性化推荐数据，供于渲染。</p>
		<p>而个性化推荐的数据的类型，目前主要有offer，category+offer等基本类型，<b>请点击参看<a href="FE.sys.irecom.data.html" target="_blank">基本数据字段表</a>，配合组件提供的静态方法完成渲染。</b></p><br/>
		<h4>4、参数打点</h4>
		<p>打点分为曝光打点和点击打点两种，一般个性化推荐，都会要求做这两类打点，<b>切勿遗漏</b>。可集成到config的行为配置项中，后面实际案例中会有例子。</p>
		
        <h3>param参数列表</h3>
        <p>param参数是个性化接口需要我们传给服务器端的值，服务器根据这些传入值，返回所需要的个性化数据，以供展示需要（需求文档中会备注说明需要前端客户端传入）</p>
		<pre class="brush:js">
var param={
	recid:'1136',/*必传值，唯一recid对应唯一业务场景，曝光打点(page_area)和点击打点(recid)参数和这个相等*/
	offerids:'xxx',/*可选值，某些业务场景需要，需求文档中未说明，则不传*/
	catids:'xxx',/*可选值，某些业务场景需要，需求文档中未说明，则不传*/
	memberid:'xxx',/*可选值，某些业务场景需要，需求文档中未说明，则不传*/
	querywords:'xxx'/*可选值，某些业务场景需要，需求文档中未说明，则不传*/
}
        </pre>
		
		<p>一些特殊值，如<b>uid、pageid</b>组件会完成收集，不需要使用者另外传递</p>
		<h3>config参数/方法列表</h3>
        <table class="g-paramtable">
            <thead>
                <tr>
                    <th>参数/方法名</th>
                    <th>类型</th>
                    <th>作用说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>template</td>
                    <td>{String}</td>
                    <td>个性化展示的html模板，使用sweet模板驱动</td>
                </tr>
                <tr>
                    <td>filter</td>
                    <td>{Int} or {Function}</td>
                    <td>对个性化接口返回的数据做简单筛选过滤，传入正数则为前n项，传入function则为筛选函数</td>
                </tr>
                <tr>
                    <td>statScene</td>
                    <td>{String} or {Int}</td>
                    <td>两类打点的场景id：曝光（ctr_type）和点击（page）</td>
                </tr>
                <tr>
                    <td>datalazyload</td>
                    <td>{Boolean}</td>
                    <td>是否启用懒加载模式，默认false不启用</td>
                </tr>
                <tr>
                    <td>onTemplateReady</td>
                    <td>{Function}</td>
                    <td>模板引擎准备解析渲染前的回调函数</td>
                </tr>
				<tr>
                    <td>onSuccess</td>
                    <td>{Function}</td>
                    <td>个性化推荐渲染完成的回调函数</td>
                </tr>
				<tr>
                    <td>onFailure</td>
                    <td>{Function}</td>
                    <td>个性化数据加载失败的回调函数</td>
                </tr>
               <tr>
                    <td>ctrQueue</td>
                    <td>{Array}</td>
                    <td>曝光打点驱动数组，每一项为对象<pre>
{
	selector:"div.item li.vertical-img",/*曝光打点收集数据的节点selector*/
	param:{object_type:'offer'},/*曝光打点需要传的数据*/
	ctrBatch:false,/*是否单独打点，懒加载模式下才生效，提高大区块个性化推荐区块精确度*/
	start:0,/*曝光起始点*/
	size:5/*曝光数量*/
}
					</pre>
					</td>
                </tr>
                <tr>
                    <td>onLazyloadReady</td>
                    <td>{Function}</td>
                    <td>懒加载就绪前的回调函数，datalazyload为true才有效</td>
                </tr>
            </tbody>
        </table>
		<h3>调用案例</h3>
        <pre class="brush:js">

var param={
		recid:'1136'
	},
	template = 
		'<%foreach ($data as item) { %>\
		<div class="item">\
			<div class="info" data-ctr=\'{"objectId":"<%= item.memberId %>","alg":"<%= item.alg %>"}\'>\
				<p class="main">主营：<%= item.mainCats %></p>\
				<p class="city">发货地：<%= item.city %></p>\
			</div>\
		</div>\
		<div class="item">\
			<div class="tomorrow-marquee fd-clr">\
				<div class="marquee fd-left">\
					<ul class="list-product">\
						<li class="vertical-img" data-ctr=\'{"objectId":"<%= item.offerId %>","alg":"<%= item.alg %>"}\'>\
							<a data-clickstat=\'{"objectType":"offer","pid":"819229_1008","objectId":"<%= item.offerId %>","alg":"<%= item.alg %>"}\' href="<%= FE.sys.irecom.getOfferUrl(item) %>"  title="<%= item.subject %>" class="box-img"><%= item.subject %></a>\
						</li>\
					</ul>\
				</div>\
			</div>\
		</div>\
		<% } %>';
FE.sys.irecom($('#irecom-demo'),param,{
	template:template,
	filter:4,
	statScene:7,
	ctrQueue:[
		{
			selector:"div.item div.info",
			param:{object_type:'company'},
			size:6
		}
	],
	datalazyload:true
});
        </pre>
		<h3>调用案例注意点</h3>
		<p>①<b>曝光打点</b>比较特殊，需要设置两处，1）HTML预埋属性data-ctr；2）config配置的ctrQueue。两者中由selector建立对应关系，一般节点上预埋收集objectId、alg两个值，ctrQueue中的param附加object_type，个别场景还有其它附加值</p>
		<p>②<b>data-clickstat</b>为点击打点触发点的预埋属性，一般需要objectType、pid(可选)、objectId、alg四个值，个别场景还有其它值</p>
		<p>③曝光打点(ctr_type)和点击打点(page)共用一个<b>statScene</b>，代表当然页面的场景</p>
		<h3>一些template渲染时有用的静态方法</h3>
        <table class="g-paramtable">
            <thead>
                <tr>
                    <th>静态方法</th>
                    <th>作用说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FE.sys.irecom.fitLength(s, len)</td>
                    <td>截取字符串长度，传入字符串和长度</td>
                </tr>
                <tr>
                    <td>FE.sys.irecom.getOfferUrl(item)</td>
                    <td>获取offer的地址，传入对象</td>
                </tr>
				<tr>
                    <td>FE.sys.irecom.getSearchUrl(item)</td>
                    <td>获取该类目的searchlist的地址，传入对象</td>
                </tr>
				<tr>
                    <td>FE.sys.irecom.getCompanyUrl(item)</td>
                    <td>获取company的地址，传入对象</td>
                </tr>
				<tr>
                    <td>FE.sys.irecom.getBizrefUrl(item)</td>
                    <td>获取诚信保障地址，传入对象</td>
                </tr>
                <tr>
                    <td>FE.sys.irecom.getPrice(item,mode)</td>
                    <td>获取价格，传入对象，返回价格html,mode为1则带单位（如￥33/吨）</td>
                </tr>
                <tr>
                    <td>FE.sys.irecom.getImgUrl(item, size)</td>
                    <td>获取图片地址，第一个参数为对象，第二个参数为需要图片大小(100, 150, 220, 310)</td>
                </tr>
                <tr>
                    <td>FE.sys.irecom.p4pSort(item)</td>
                    <td>p4p排序，传入序列数组</td>
                </tr>
				<tr>
                    <td>FE.sys.irecom.resizeImg(this, width, height)</td>
                    <td>调整图片大小，同FDEV库中的resizeImg方法</td>
                </tr>
            </tbody>
        </table>
        <h3>
            提建议给开发者</h3>
        作者：Raywu<br />
        邮件：<a href="mailto:wljray@gmail.com">wljray@gmail.com</a><br />
        旺旺：wuleijun990（中文站）
    </div>
</body>
</html>
